body {
    box-sizing: border-box;
    font-size: 20px;
    /*font-family: 'Outfit', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1;
    background: #151719;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --colorPurp: #5D5DFF;
    --colorDark: #33363A;
    --colrLightGray: #C5D2DC;
    --colorTitleWhite: #D9E3EA;
    --colorParagraphGray: #9BA9B4;
}


/* BUTTONS */
.btn-standart-slyle {
    font-size: 16px;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--colorPurp);
    --bs-btn-hover-color: var(--colorPurp);
    --bs-btn-hover-bg: none;
    --bs-btn-box-shadow: 0px 1px 3px #19202C;
    --bs-btn-hover-box-shadow: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.btn-learn-slyle {
    font-size: 16px;
    --bs-btn-color: var(--colrLightGray);
    --bs-btn-bg: var(--colorDark);
    --bs-btn-hover-color: var(--colrLightGray);
    --bs-btn-hover-bg: none;
    --bs-btn-box-shadow: 0px 1px 3px #19202C;
    --bs-btn-hover-box-shadow: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.btn-learn-slyle:hover {
    border: 1px solid var(--colrLightGray);
}

.about_btns {
    width: 164px;
    height: 48px;
    margin: 0 0.6%;
}


/* SECTIONS */
.section_indent {
    margin-top: 80px;
}


/* HEADER */
.header {
    margin-top: 24px;
}

/* TEXT */
.main_title_text {
    font-size: 52px;
    font-weight: 800;
    color: var(--colorTitleWhite);
    padding-bottom: 16px;
}

.main_paragraph_text {
    font-size: 20px;
    font-weight: 400;
    color: var(--colorParagraphGray);
    padding-bottom: 32px;
}