body {
    box-sizing: border-box;
    font-size: 20px;
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Inter', sans-serif;
    color: #fff;
    line-height: 1;
    background: #151719;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

hr {
    margin: 80px 0;
    background: var(--colorDark);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --colorPurp: #5D5DFF;
    --colorDark: #33363A;
    --colrLightGray: #C5D2DC;
    --colorTitleWhite: #D9E3EA;
    --colorParagraphGray: #9BA9B4;
    --colorGreen: #36A269;
    --colorLiteGreen: #C6F6D5;
}

/* BUTTONS */
.btn-standart-slyle {
    font-size: 16px;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--colorPurp);
    --bs-btn-hover-color: var(--colorPurp);
    --bs-btn-hover-bg: none;
    --bs-btn-box-shadow: 0px 1px 3px #19202C;
    --bs-btn-hover-box-shadow: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.btn-learn-slyle {
    font-size: 16px;
    --bs-btn-color: var(--colrLightGray);
    --bs-btn-bg: var(--colorDark);
    --bs-btn-hover-color: var(--colrLightGray);
    --bs-btn-hover-bg: none;
    --bs-btn-box-shadow: 0px 1px 3px #19202C;
    --bs-btn-hover-box-shadow: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.btn-learn-slyle:hover {
    border: 1px solid var(--colrLightGray);
} 

.about_btns {
    width: 164px;
    height: 48px;
    margin: 0 0.6%;
}

.play_btn {
    max-width: 130px;
    max-height: 130px;
    height: 100%;
    width: 100%;
    background: url(../image/Video/Play.svg) no-repeat center;
    background-size: 130px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-size .2s linear;
}

.play_btn:hover {
    cursor: pointer;
    background-size: 120%;
}

.hiden_btn {
    display: none;
}

/* SECTIONS */
.section_indent {
    margin-top: 128px;
}


/* HEADER */
.header {
    margin-top: 24px;
}

.header_indent {
    margin-top: 80px;
}


/* TEXT */
.first_title_text {
    font-size: 52px;
    font-weight: 800;
    color: var(--colorTitleWhite);
}

.main_title_text {
    font-size: 40px;
    font-weight: 800;
    color: var(--colorTitleWhite);
}

.second_title_text {
    font-size: 32px;
    font-weight: 700;
    color: var(--colorTitleWhite);
}

.subtitle_text {
    font-size: 24px;
    font-weight: 700;
    color: var(--colorTitleWhite);
    padding-bottom: 8px;
}

.main_paragraph_text {
    font-size: 20px;
    font-weight: 400;
    color: var(--colorParagraphGray);
}

.second_paragraph_text {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorParagraphGray);
}

.motivating_text {
    font-size: 14px;
    font-weight: 600;
    color: var(--colorGreen);
}

.art_text {
    font-size: 20px;
    font-weight: 400;
    color: var(--colorPurp);
    font-family: 'Architects Daughter', cursive;
}


/* Landing template for startups */
.main_video_block {
    position: relative;
    max-width: 1024px;
    width: 100%;
    padding-top: 53.3%;
    background: url(../image/Video/VideoBG.jpg) no-repeat center;
}

.main_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* The majority our customers */
.colmn_size {
    max-width: 335px;
    width: 100%;
}

.purp_circle {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    height: 100%;
    background-color: var(--colorPurp);
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.objekt_circle {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin_circle {
    margin-top: 80px;
}


/* One product, unlimited solutions */
.motivating_rectangle {
    max-width: 186px;
    width: 100%;
    height: 30px;
    background-color: var(--colorLiteGreen);
    border-radius: 15px;
    padding-top: 7px;
}

.onePr_colmn {
    margin-top: 8%;
}

.list_style {
    margin: 15px 0 0;
    list-style-image: url(../image/TheMajorityBlock/TickMark.svg);
}

.list_style li {
    padding: 5px 0;
}