body {
    box-sizing: border-box;
    font-size: 20px;
    /*font-family: 'Outfit', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1;
    background: #151719;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --colorPurp: #5D5DFF;
    --colorDark: #33363A;
    --colrLightGray: #C5D2DC;
    --colorTitleWhite: #D9E3EA;
    --colorParagraphGray: #9BA9B4;
}

/* BUTTONS */
.btn-standart-slyle {
    font-size: 16px;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--colorPurp);
    --bs-btn-hover-color: var(--colorPurp);
    --bs-btn-hover-bg: none;
    --bs-btn-box-shadow: 0px 1px 3px #19202C;
    --bs-btn-hover-box-shadow: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.btn-learn-slyle {
    font-size: 16px;
    --bs-btn-color: var(--colrLightGray);
    --bs-btn-bg: var(--colorDark);
    --bs-btn-hover-color: var(--colrLightGray);
    --bs-btn-hover-bg: none;
    --bs-btn-box-shadow: 0px 1px 3px #19202C;
    --bs-btn-hover-box-shadow: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.btn-learn-slyle:hover {
    border: 1px solid var(--colrLightGray);
}

.about_btns {
    width: 164px;
    height: 48px;
    margin: 0 0.6%;
    margin-bottom: 4.5%;
}

.play_btn {
    position: absolute;
    z-index: 1000;
    top: 42%;
    left: 45%;
    max-width: 130px;
    max-height: 130px;
    height: 100%;
    width: 100%;
    background: url(../image/Play.svg) no-repeat center;
    background-size: 130px;
    transition: background-size .2s linear;
}

.play_btn:hover {
    cursor: pointer;
    background-size: 120%;
}

.hiden_btn {
    display: none;
}

/* SECTIONS */
.section_indent {
    margin-top: 80px;
}


/* HEADER */
.header {
    margin-top: 24px;
}


/* TEXT */
.main_title_text {
    font-size: 52px;
    font-weight: 800;
    color: var(--colorTitleWhite);
    padding-bottom: 16px;
}

.main_paragraph_text {
    font-size: 20px;
    font-weight: 400;
    color: var(--colorParagraphGray);
    padding-bottom: 32px;
}


/* Landing template for startups */
.main_video_block {
    position: relative;
    z-index: 0;
    max-width: 1024px;
    width: 100%;
    padding-top: 53.3%;
    background: url(../image/annie-spratt@2x.jpg) no-repeat center;
}

.main_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}