body {
    font-size: 20px;
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Inter', sans-serif;
    color: #fff;
    line-height: 1;
    background: #151719;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

hr {
    margin: 24px 0;
    background: var(--colorDark);
}

.big {
    margin: 80px 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colorPurp: #5D5DFF;
    --colorDark: #33363A;
    --colrLightGray: #C5D2DC;
    --colorTitleWhite: #D9E3EA;
    --colorParagraphGray: #9BA9B4;
    --colorGreen: #36A269;
    --colorLiteGreen: #C6F6D5;
    --colorVeryDark: #25282C;
    --colorRed: #E53D3E;
    --colorInpuGray: #707D86;
}


/* Object */
.SVGposition {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


/* BUTTONS */
.btn-danger-slyle {
    height: 48px;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--colorRed);
    --bs-btn-hover-color: var(--colorRed);
    --bs-btn-hover-bg: none;
    border-radius: 2px;
    transition: all .2s linear;
    grid-row: 1;
}

.btn-standart-slyle {
    height: 48px;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--colorPurp);
    --bs-btn-hover-color: var(--colorPurp);
    --bs-btn-hover-bg: none;
    border-radius: 2px;
    transition: all .2s linear;
}


/* HEADER */
.header {
    margin-top: 24px;
}

.header_indent {
    margin-top: 80px;
}


/* SECTIONS */
.section_indent {
    margin-top: 80px;
}


/* TEXT */
.first_title_text {
    font-size: 52px;
    font-weight: 800;
    color: var(--colorTitleWhite);
}

.name_text {
    font-size: 16px;
    font-weight: 500;
    color: var(--colorTitleWhite);
}

.form_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--colorInpuGray);
}

.input_label_stl {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--bs-white);
}


/* Form */
.signIn_form {
    grid-template-columns: 1.1fr 1fr 1.1fr;
}

.form_block_block{
    grid-column-start:2;
    grid-column-end: 3;
    max-width: 400px;
}

.sign_icon {
    transition: all .2s linear;
    outline: none;
    position: relative;
}

.sign_icon {
    color: var(--colorRed) !important;
}

.sign_icon::after {
    content: "|";
    position: absolute; 
    top: -3px;
    left: 23px;
    color: #F56565;
}

.p_line {
    position: relative;
    grid-row: 2;
}

.p_line::before {
    content: "";
    max-width: 90px;
    width: 100%;
    border: 1px dashed var(--colorDark);
    position: absolute;
    right: 77.56%;
    top: 50%;
}

.p_line::after {
    content: "";
    max-width: 90px;
    width: 100%;
    border: 1px dashed var(--colorDark);
    position: absolute;
    left: 77.56%;
    top: 50%;   
}

.input_group {
    height: 48px;
    padding: 0 15px;
    border: 1px solid #33363A;
    background-color: #151719 !important;
    outline: none;
}

.checkbox_inp {
    display: none;
}

.fake_chekbox {
    display: inline-block;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: relative;
    background-color: var(--colorTitleWhite);
}

.fake_chekbox::after {
    content:"";
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    border-radius: 3px;
    background-image: url(../image/Ok.svg);
    opacity: 0;
    transition: .2s linear;
}

.checkbox_inp:checked + .fake_chekbox::after {
    opacity: 1;
 }

 .checkbox_inp:checked + .fake_chekbox {
    background-color: var(--colorPurp);
 }

.Casual_url_pr {
    color: var(--colorPurp);
    text-decoration: none;
    transition: color .2s linear;
}

.Casual_url_pr:hover {
    color: var(--colorTitleWhite);
}

.labelValid, .checkbox_lab {
    display: none;
    color:var(--colorRed);
    font-size: 14px;
}

.labelValid.Inline {
    display: inline;
}

.checkbox_lab.Inline {
    display: inline;
}


@media (max-width: 1400px) {

    /* Form */
    .p_line::before {
        max-width: 64px;
        right: 81.56%;
    }

    .p_line::after {
        max-width: 64px;
        left: 81.56%;
    }
}

@media (max-width: 1200px) {

    /* Text */
    .first_title_text {
        font-size: 48px;
    }

    .name_text {
        font-size: 16px;
    }

    .form_text {
        font-size: 16px;
    }

    /* Form */
    .signIn_form {
        grid-template-columns: 0.7fr 0.8fr 0.7fr;
    }
}

@media (max-width: 991px) {

    /* Text */
    .first_title_text {
        font-size: 40px;
    }

    .name_text {
        font-size: 14px;
    }

    .form_text {
        font-size: 14px;
    }

    /* Form */
    .signIn_form {
        grid-template-columns: 0.6fr 1fr 0.6fr;
    }

    .p_line::before {
        max-width: 58px;
        right: 81.56%;
    }

    .p_line::after {
        max-width: 58px;
        left: 81.56%;
    }
}

@media (max-width: 767px) {

    /* Text */
    .first_title_text {
        font-size: 34px;
    }

    .name_text {
        font-size: 14px;
    }

    .form_text {
        font-size: 14px;
    }

    /* Form */
    .signIn_form {
        grid-template-columns: 0.2fr 0.59fr 0.2fr;
    }

    .p_line::before {
        max-width: 54px;
        right: 81.56%;
    }

    .p_line::after {
        max-width: 54px;
        left: 81.56%;
    }
}

@media (max-width: 520px) {

    /* Text */
    .first_title_text {
        font-size: 34px;
    }

    .name_text {
        font-size: 14px;
    }

    .form_text {
        font-size: 14px;
    }

    /* Form */
    .signIn_form {
        grid-template-columns: 0.2fr 0.59fr 0.2fr;
    }

    .p_line::before {
        max-width: 54px;
        right: 81.56%;
    }

    .p_line::after {
        max-width: 54px;
        left: 81.56%;
    }
}