body {
    font-size: 20px;
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Inter', sans-serif;
    color: #fff;
    line-height: 1;
    background: #151719;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

hr {
    margin: 24px 0;
    background: var(--colorDark);
}

.big {
    margin: 80px 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colorPurp: #5D5DFF;
    --colorDark: #33363A;
    --colrLightGray: #C5D2DC;
    --colorTitleWhite: #D9E3EA;
    --colorParagraphGray: #9BA9B4;
    --colorGreen: #36A269;
    --colorLiteGreen: #C6F6D5;
    --colorVeryDark: #25282C;
    --colorRed: #E53D3E;
}


/* BUTTONS */
.btn-danger-slyle {
    grid-column: 2;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--colorRed);
    --bs-btn-hover-color: var(--colorRed);
    --bs-btn-hover-bg: none;
    border-radius: 2px;
    transition: all .2s linear;
}

.button_block {
    grid-template-columns: 1.1fr 1fr 1.1fr;
}

/* HEADER */
.header {
    margin-top: 24px;
}

.header_indent {
    margin-top: 80px;
}


/* SECTIONS */
.section_indent {
    margin-top: 128px;
}


/* TEXT */
.first_title_text {
    font-size: 52px;
    font-weight: 800;
    color: var(--colorTitleWhite);
}

.main_title_text {
    font-size: 40px;
    font-weight: 800;
    color: var(--colorTitleWhite);
}

.second_title_text {
    font-size: 32px;
    font-weight: 700;
    color: var(--colorTitleWhite);
}

.subtitle_text {
    font-size: 24px;
    font-weight: 700;
    color: var(--colorTitleWhite);
    padding-bottom: 8px;
}

.main_paragraph_text {
    font-size: 20px;
    font-weight: 400;
    color: var(--colorParagraphGray);
}

.second_paragraph_text {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorParagraphGray);
}

.motivating_text {
    font-size: 14px;
    font-weight: 600;
    color: var(--colorGreen);
}

.art_text {
    font-size: 20px;
    font-weight: 400;
    color: var(--colorPurp);
    font-family: 'Architects Daughter', cursive;
}

.name_text {
    font-size: 16px;
    font-weight: 500;
    color: var(--colorTitleWhite);
}

.footer_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--colorParagraphGray);
}

.small_footer_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--colorParagraphGray);
}

.small_footer_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--bs-white);
}


/*  */
.sign_icon {
    transition: all .2s linear;
    outline: none;
    position: relative;
}

.sign_icon {
    color: var(--colorRed) !important;
}

.sign_icon::after {
    content: "|";
    position: absolute; 
    top: -3px;
    left: 23px;
    color: #F56565;
}